/*!
 * iMaba - April Version
 * Copyright 2016 G. A. Pitoy
 */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%; }

body {
  background-color: #fcfcfc;
  font-family: 'Josefin Sans';
  overflow-x: hidden; }

ul, li {
  padding: 0; }

h1 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 60px; }

hr {
  border: #e4e4e4 1px solid; }

.splash {
  background-color: #153956;
  color: #f9f9f9;
  /* text-align: center; */
  min-height: 94vh;
  border-bottom: 3px solid #e4e4e4; }
  .splash p {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 20px; }

.splash-content {
  padding-top: 180px;
  padding-bottom: 40px;
  padding-right: 40px; }
  .splash-content img {
    max-width: 35px;
    padding-top: 0px;
    margin-right: 6px;
    margin-bottom: 10px; }
  .splash-content h4 {
    color: #f9f9f9; }
  .splash-content a {
    font-size: 19px;
    padding-top: 3px;
    text-decoration: none;
    color: #f9f9f9; }
    .splash-content a:hover, .splash-content a:focus {
      color: #f9f9f9; }

.splash-image {
  padding-top: 100px; }
  .splash-image img {
    max-width: 100%; }

@media only screen and (min-device-width: 320px) and (max-device-width: 540px) {
  .splash-content {
    padding-top: 80px; } }
.navbar {
  transition: all 0.3s; }
  .navbar a {
    padding-left: 0; }
  .navbar .navbar-brand {
    font-family: Lato;
    font-weight: 900;
    font-size: 25px;
    color: #71ccc1; }
  .navbar img {
    height: 50px;
    padding: 7px 0px 6px 25px; }
  .navbar .nav a {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 6px; }

.navbar-color {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background-color: #fcfcfc;
  border-bottom: 3px solid #e4e4e4; }
  .navbar-color .navbar-brand {
    color: #3cbca4; }

/* override collapse */
.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li, .navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important; }

.navbar-right {
  float: right !important; }

/* #info-ui, #academic, #kemahasiswaan, #lain-lain { */
.content .row {
  margin-top: 35px; }
.content .row-90 {
  padding-left: 5%;
  padding-right: 5%; }
.content img {
  width: 100%; }
.content h2 {
  font-family: Lato;
  font-size: 56px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 900;
  color: #606060; }
.content h3, .content h4 {
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  color: #606060;
  margin: 0; }
.content h4 {
  font-size: 36px;
  margin-top: 14px;
  margin-bottom: 14px; }
.content p {
  font-size: 21px;
  font-weight: 600;
  color: #606060; }
.content .hblock img {
  width: 140px;
  padding: 0;
  margin: 0; }
.content .hblock h3 {
  margin-top: 40px; }
.content .row-cont {
  margin-top: 30px; }
  .content .row-cont h3 {
    margin-bottom: 16px; }
  .content .row-cont p {
    font-size: 18px; }
.content #ilkomvssi {
  text-align: right;
  padding: 70px 22px 0 25px; }
  .content #ilkomvssi p {
    font-size: 20px; }
.content .roundedbox-l {
  border: 5px solid #71ccc1;
  border-radius: 4px;
  padding: 22px;
  margin-bottom: 20px; }
.content .roundedbox-r {
  border: 5px solid #f95562;
  border-radius: 6px;
  padding: 22px; }

#info-ui {
  padding-top: 30px; }
  #info-ui img {
    padding: 0px; }
  #info-ui #map-ui {
    padding-left: 25px;
    padding-right: 25px; }
  #info-ui #map-ui-legend {
    padding-left: 40px;
    padding-right: 80px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 540px) {
  #info-ui #map-ui {
    padding-left: 5px;
    padding-right: 5px; } }
#infokosan-h hr {
  margin-bottom: 0; }

.infokosan div {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0; }
.infokosan img {
  margin: auto; }
.infokosan p {
  font-size: 19px;
  font-weight: 400; }
.infokosan .infokosan-price {
  font-weight: 400; }

#academic {
  padding-top: 40px; }
  #academic .belajarapa div {
    padding-left: 18px;
    padding-right: 18px; }
  #academic .belajarapa img {
    width: 100%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px; }
  #academic .belajarapa h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #505050; }
  #academic .belajarapa p {
    font-weight: 500;
    margin-top: 20px;
    text-align: center; }
  #academic .belajarapa .coba {
    font-size: 19px; }
  #academic .belajarapa ul {
    padding-left: 5px; }
  #academic .belajarapa li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 600; }
  #academic .belajarapa a {
    color: #3cbca4; }

#lain-lain {
  padding-top: 30px; }
  #lain-lain .socmed img {
    width: 90%; }
  #lain-lain .socmed p {
    font-size: 20px;
    text-align: center;
    line-height: 32px; }
  #lain-lain .whatsnext {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center; }
  #lain-lain .whatsnext li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    color: #606060; }

#foot {
  background-color: #f4f4f4; }
  #foot h5 {
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 0; }

/*# sourceMappingURL=imaba.css.map */
