/*!
 * iMaba - April Version
 * Copyright 2016 G. A. Pitoy
 */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%; }

body {
  background-color: #fcfcfc;
  font-family: 'Josefin Sans';
  overflow-x: hidden; }

ul, li {
  padding: 0; }

h1 {
  font-family: 'Lato';
  font-weight: 900;
  font-size: 60px; }

hr {
  border: #e4e4e4 1px solid; }

.splash {
  background-color: #153956;
  color: #f9f9f9;
  text-align: center;
  height: 94vh;
  border-bottom: 3px solid #e4e4e4; }
  .splash p {
    font-size: 21px;
    font-weight: 400; }

.splash-content {
  padding-top: 200px; }
  .splash-content img {
    max-width: 90%;
    padding-top: 20px; }
  .splash-content h4 {
    color: #f9f9f9; }

.navbar {
  transition: all 0.3s; }
  .navbar a {
    padding-left: 0; }
  .navbar .navbar-brand {
    font-family: Lato;
    font-weight: 900;
    font-size: 25px;
    color: #71ccc1; }
  .navbar img {
    height: 50px;
    padding: 7px 0px 6px 25px; }
  .navbar .nav a {
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 6px; }

.navbar-color {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background-color: #fcfcfc;
  border-bottom: 3px solid #e4e4e4; }
  .navbar-color .navbar-brand {
    color: #3cbca4; }

/* override collapse */
.navbar-collapse.collapse {
  display: block !important; }

.navbar-nav > li, .navbar-nav {
  float: left !important; }

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important; }

.navbar-right {
  float: right !important; }

#info-ui .row, #academic .row, #kemahasiswaan .row, #lain-lain .row {
  margin-top: 35px; }
#info-ui img, #academic img, #kemahasiswaan img, #lain-lain img {
  width: 100%; }
#info-ui h2, #academic h2, #kemahasiswaan h2, #lain-lain h2 {
  font-family: Lato;
  font-size: 45px;
  margin-bottom: 0;
  font-weight: 900;
  color: #606060; }
#info-ui h3, #academic h3, #kemahasiswaan h3, #lain-lain h3 {
  font-family: Lato;
  font-size: 34px;
  margin: 0; }
#info-ui p, #academic p, #kemahasiswaan p, #lain-lain p {
  font-size: 20px;
  color: #606060; }
#info-ui .row-cont, #academic .row-cont, #kemahasiswaan .row-cont, #lain-lain .row-cont {
  margin-top: 30px; }
  #info-ui .row-cont h3, #academic .row-cont h3, #kemahasiswaan .row-cont h3, #lain-lain .row-cont h3 {
    margin-bottom: 16px; }
  #info-ui .row-cont p, #academic .row-cont p, #kemahasiswaan .row-cont p, #lain-lain .row-cont p {
    font-size: 18px; }
#info-ui #ilkomvssi, #academic #ilkomvssi, #kemahasiswaan #ilkomvssi, #lain-lain #ilkomvssi {
  padding: 70px 45px 0 25px; }
  #info-ui #ilkomvssi p, #academic #ilkomvssi p, #kemahasiswaan #ilkomvssi p, #lain-lain #ilkomvssi p {
    font-size: 20px; }
#info-ui .roundedbox-l, #academic .roundedbox-l, #kemahasiswaan .roundedbox-l, #lain-lain .roundedbox-l {
  border: 5px solid #71ccc1;
  border-radius: 4px;
  padding: 22px; }
#info-ui .roundedbox-r, #academic .roundedbox-r, #kemahasiswaan .roundedbox-r, #lain-lain .roundedbox-r {
  border: 5px solid #f95562;
  border-radius: 6px;
  padding: 22px; }

#info-ui {
  margin-top: 20px; }
  #info-ui img {
    padding: 20px; }
  #info-ui #map-ui {
    padding-left: 30px; }
  #info-ui #map-ui-legend {
    padding-right: 110px; }

/*# sourceMappingURL=imaba.css.map */
