html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

body {
	background-color: $almostwhite;
	font-family: 'Lato';
	font-weight: 400;
	overflow-x: hidden;
}

ul, li {
	padding: 0;
}

h1 {
	font-weight: 900;
	font-size: 60px;
}

hr {
	border: $lightergray 1px solid;
}

.grow {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.1);	
	}
}

.foot {
	border-top: 3px solid $lightergray;
	width: 100%;
	margin-top: 130px;
	h5 {
		font-size: 14px;
		font-weight: 600;
		color: $darkgray;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 30px;
		margin: 0;
	}
}

.foot-main {
	margin-top: 0;
	border-top: none;
}