html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

body {
	background-color: $almostwhite;
	font-family: 'Josefin Sans';
	overflow-x: hidden;
}

ul, li {
	padding: 0;
}

h1 {
	font-family: 'Lato';
	font-weight: 900;
	font-size: 60px;
}

hr {
	border: $lightergray 1px solid;
}