html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

body {
	background-color: $offwhite;
	font-family: 'Josefin Sans';
}

ul, li {
	padding: 0;
}

h1 {
	font-family: 'Lato';
	font-weight: 900;
	font-size: 60px;
}
