.navbar {
	transition: all 0.3s;

	a {
		padding-left: 0;
	}

	.navbar-brand { 
		font-family: Lato;
		font-weight: 900;
		font-size: 25px;
		color: $reefcyan;
	}

	img {
		height: 50px;
		padding: 7px 15px 6px 10px;
	}

	.nav a {
		padding-left:8px;
		padding-right:5px;
		padding-top:7px;
		padding-bottom: 6px;
	}
}

.navbar-color {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	background-color: $purewhite;
	border-bottom: 3px solid $lightergray;

	.navbar-brand {
		color: $reefcyanoff;
	}
}