.splash {
	background-color: $deepblue;
	color: $classicwhite;
	/* text-align: center; */
	min-height: 640px;
	max-height: 800px;
	// max-height: 1000px;
	border-bottom: 3px solid $lightergray;

	p {
		font-size: 23px;
		margin-bottom: 20px;
	}

}

.splash-content {
	padding-top: 180px;
	padding-bottom: 40px;
	padding-right: 40px;

	img {
		max-width: 35px;
		padding-top: 8px;
		margin-right: 8px;
		margin-bottom: 10px;
	}

	h4 {
		color: $classicwhite;
	} 

	a {
		font-size: 19px;
		padding-top: 3px;
		text-decoration: none;
		color: $classicwhite;	
		&:hover, &:focus {
			color: $classicwhite;		
		}
	}
}

.splash-image {
	padding-top: 100px;
	
	img {
		max-width: 100%;
	}
}

@media only screen 
  and (max-device-width: 1400px) 
  and (min-device-width: 1366px) 
  {
		.splash {
			min-height: 700px;
		}
}

@media only screen 
	and (min-device-width: 768px)
  and (max-device-width: 990px) {
  	.splash {
  		min-height: 1024px;
  	}
		.col-sm-6 {
			width: 70%;
		}
}

@media only screen 
  and (max-device-width: 540px) {
		.splash-content {
			padding-top: 80px;
		}

		.splash {
			min-height: 525px;
		}
}

@media only screen 
  and (max-device-width: 450px) {
		.splash-content {
			padding-top: 200px;
		}

		.splash {
			min-height: 720px;
		}
}