.splash {
	background-color: $deepblue;
	color: $classicwhite;
	text-align: center;
	min-height: 94vh;
	border-bottom: 3px solid $lightergray;

	p {
		font-size: 23px;
		font-weight: 400;
	}

}

.splash-content {
	padding-top: 200px;
	padding-bottom: 40px;

	img {
		max-width: 90%;
		padding-top: 20px;
	}

	h4 {
		color: $classicwhite;
	} 
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 540px) {
		.splash-content {
			padding-top: 80px;
		}
}