.splash {
	background-color: $deepblue;
	color: $classicwhite;
	text-align: center;
	height: 94vh;
	border-bottom: 3px solid $lightergray;

	p {
		font-size: 21px;
		font-weight: 400;
	}

}

.splash-content {
	padding-top: 200px;

	img {
		max-width: 90%;
		padding-top: 20px;
	}

	h4 {
		color: $classicwhite;
	} 
}